@font-face {
    font-family: 'pilot-command';
    src: url('../fonts/pilot-command-font/PilotCommand-3zn93.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
    background-color: #172554;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'pilot-command';
}
#board-container{
    position: relative;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-rows: 1fr 4px 1fr 4px 1fr;
    grid-template-columns: 1fr 4px 1fr 4px 1fr;
    font-weight: 600;
    font-size: 7rem;
}
.row-border, .column-border{
    background-color: white;
    border-radius: 2px;
}

#col-border0{
    grid-row: 1 / 6;
    grid-column: 2 / 3;
}
#col-border1{
    grid-row: 1/6;
    grid-column: 4 / 5;
}
#row-border0{
    grid-row: 2 / 3;
    grid-column: 1 / 6;
}
#row-border1{
    grid-row: 4 / 5;
    grid-column: 1 / 6;
}
.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#strike{
    position: absolute;
    width: 700px;
    height: 4px;
    background-color: white;
    transform: rotate(-45deg);
    transform-origin: left bottom;
    bottom: 0;
    left: 0;
}
#score-card{
    padding: 40px;
    display: flex;
    align-self: stretch;
    font-size: 2rem;
    font-weight: 600;
    color: white;
    justify-content: space-between;
}
#button-container{
    display: flex;
    gap: 20px;
    padding-bottom: 40px;
}
button{
    width: 200px;
    height: 60px;
    font-family: inherit;
    font-size: 1.1rem;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    border-radius: 6px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    border: none;
}
#button-container div{
    background-color: white;
    border-radius: 6px;
}